* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  background-color: #2e0249;
  display: flex;
}

.main-container {
  padding: 64px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-size: 48px;
}

em {
  color: #a91079;
  font-style: normal;
}

address p {
  color: #ffffff;
  font-style: normal;
  padding: 24px;
  font-size: 20px;
}

address p:hover {
  background-color: rgb(87, 10, 87, 0.5);
  border-radius: 16px;
  border-color: #a91079;
  border-width: 3px;
  padding: 21px;
  border-style: solid;
}

address img {
  padding-right: 10px;
  width: 20px;
}

.social img {
  padding: 16px;
  width: 20px;
  height: 20px;
}

.social img:hover {
  background-color: #a91079;
  border-radius: 50%;
}

.form-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 48px;
  margin: auto 64px;
  border-radius: 24px;
  width: 700px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
}
